// Navbar
nav#navbar-main.navbar.navbar-main.navbar-expand-lg.bg-primary.navbar-light.position-sticky.top-0.py-4.py-md-2
    .container
        a.navbar-brand.mr-lg-5(href="./index.html")
            img(src="./img/brand/blue.png")
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbar_global", aria-controls="navbar_global", aria-expanded="false", aria-label="Toggle navigation")
            span.navbar-toggler-icon
        .navbar-collapse.collapse(id="navbar_global")
            .navbar-collapse-header.border-0
                .row
                    .col-6.collapse-brand
                        a(href="./index.html")
                            img(src="./img/brand/blue.png")
                    .col-6.collapse-close
                        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbar_global", aria-controls="navbar_global", aria-expanded="false", aria-label="Toggle navigation")
                            span
                            span
            ul.navbar-nav.align-items-lg-center.ml-lg-auto.ml-4.mt-4.mt-lg-0
                li.nav-item
                    a.nav-link(href="./index.html", class=activeMenu === 'home' ? 'active' : '')
                        | HOME
                li.nav-item
                    a.nav-link(href="./about.html", class=activeMenu === 'about' ? 'active' : '')
                        | QUIENES SOMOS
                li.nav-item
                    a.nav-link(href="./products.html", class=activeMenu === 'products' ? 'active' : '')
                        | PRODUCTOS
                li.nav-item.mr-md-0
                    a.nav-link(href="./contact.html", class=activeMenu === 'contact' ? 'active' : '').pr-md-0
                        | CONTACTO
            hr.w-85.d-block.d-md-none
            .d-block.d-md-none.ml-4
                a(href="tel:+541170780416").d-flex.align-items-center
                    <svg width="33" height="33" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_767_756)">
                    <mask id="mask0_767_756" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="44" height="44">
                    <path d="M43.701 0H0V43.137H43.701V0Z" fill="white"/>
                    </mask>
                    <g mask="url(#mask0_767_756)">
                    <path d="M37.4998 22.31V26.059C37.4694 26.5325 37.3062 26.9879 37.0287 27.3728C36.7513 27.7577 36.371 28.0566 35.9314 28.2351C35.4918 28.4137 35.0107 28.4647 34.5435 28.3822C34.0762 28.2998 33.6417 28.0872 33.2898 27.769L29.4448 24.162V31.983C29.4448 34.563 26.9598 36.825 24.4898 37.026C21.8148 37.244 18.8798 36.85 16.1778 37.046L9.97776 42.783C9.4962 43.0691 8.93251 43.1852 8.37709 43.1127C7.82167 43.0401 7.3067 42.7832 6.91476 42.383C5.74176 41.183 6.37376 38.572 6.21476 37.025H4.86776C2.85776 37.025 0.506762 34.745 0.233762 32.772C0.193762 28.629 -0.166238 24.072 0.0957616 19.944C0.121625 18.976 0.404121 18.0323 0.914357 17.2093C1.42459 16.3863 2.14426 15.7136 2.99976 15.26C3.50931 15.0249 4.04226 14.8442 4.58976 14.721H14.2648V5.14C14.337 3.86186 14.8545 2.64936 15.7275 1.713C16.6005 0.776632 17.7738 0.175517 19.0438 0.014L38.6628 0C39.9576 0.105972 41.1705 0.676511 42.0779 1.60642C42.9852 2.53633 43.5257 3.76291 43.5998 5.06C43.4148 9.013 43.8878 13.253 43.6108 17.173C43.5754 18.0686 43.317 18.9413 42.8592 19.7119C42.4013 20.4825 41.7584 21.1266 40.9888 21.586C40.3806 21.9357 39.7181 22.1808 39.0288 22.311L37.4998 22.31ZM34.8148 25.457V20.6C34.9198 20.3787 35.0604 20.176 35.2308 20C35.9838 19.368 37.6978 19.726 38.6558 19.63C39.23 19.5467 39.7608 19.2767 40.1663 18.8618C40.5719 18.4468 40.8296 17.91 40.8998 17.334L40.9138 5.057C40.852 4.48153 40.6051 3.94166 40.2102 3.51858C39.8153 3.09551 39.2936 2.8121 38.7238 2.711C32.0598 2.747 25.3418 2.516 18.7068 2.829C18.2092 3.01213 17.7768 3.33802 17.4638 3.76585C17.1507 4.19368 16.9708 4.7044 16.9468 5.234C17.1468 9.042 16.6778 13.123 16.9408 16.899C16.9245 17.5238 17.126 18.1349 17.5108 18.6274C17.8955 19.12 18.4396 19.4635 19.0498 19.599C21.8918 19.823 25.0178 19.377 27.8258 19.618C28.7888 19.7 29.2258 20.262 29.9068 20.87C31.5688 22.362 33.0908 24.03 34.8128 25.453M8.89476 35.315V40.174L15.0328 34.509C15.24 34.408 15.4655 34.3501 15.6958 34.339C18.5258 34.089 21.6958 34.551 24.5648 34.32C25.1257 34.2003 25.6368 33.9123 26.0299 33.4946C26.423 33.0769 26.6794 32.5492 26.7648 31.982V22.31H18.8478C18.4783 22.2338 18.1142 22.1336 17.7578 22.01C16.8041 21.6561 15.9745 21.0315 15.3706 20.213C14.7666 19.3945 14.4147 18.4176 14.3578 17.402H4.95976C4.36161 17.5147 3.81975 17.828 3.42361 18.2901C3.02747 18.7523 2.80071 19.3356 2.78076 19.944C3.03376 23.775 2.45576 28.015 2.78076 31.798C2.80741 32.4339 3.06034 33.0394 3.49397 33.5053C3.9276 33.9712 4.51339 34.2669 5.14576 34.339C6.14576 34.439 8.61076 33.899 8.89376 35.312" fill="#FE3200"/>
                    <path d="M23.5945 7.06411C26.9815 7.24011 30.7805 6.73811 34.1205 7.03911C35.8805 7.19811 36.2155 9.11511 34.5795 9.71611H23.2965C22.9782 9.63889 22.6989 9.44813 22.5112 9.17963C22.3235 8.91113 22.2403 8.58335 22.2771 8.25782C22.3139 7.93229 22.4683 7.63139 22.7112 7.4116C22.9542 7.19181 23.269 7.06825 23.5965 7.06411" fill="#FE3200"/>
                    <path d="M35.2501 12.808C35.4034 12.9679 35.5152 13.163 35.5756 13.3762C35.6361 13.5894 35.6432 13.8141 35.5965 14.0307C35.5498 14.2473 35.4507 14.4492 35.3078 14.6185C35.1649 14.7879 34.9827 14.9196 34.777 15.002L23.391 15.084C23.0626 15.0269 22.7668 14.8502 22.5609 14.588C22.3549 14.3258 22.2532 13.9967 22.2755 13.664C22.2977 13.3314 22.4422 13.0187 22.6813 12.7862C22.9203 12.5538 23.2369 12.418 23.57 12.405C27.001 12.637 30.838 12.097 34.221 12.405C34.5977 12.4302 34.9573 12.5718 35.2501 12.81" fill="#FE3200"/>
                    <path d="M9.70503 24.461C10.0234 24.3986 10.3536 24.4541 10.6342 24.6171C10.9147 24.78 11.1265 25.0394 11.2301 25.3468C11.3337 25.6543 11.322 25.9889 11.1973 26.2884C11.0725 26.5879 10.8432 26.8319 10.552 26.975C8.65803 27.86 7.80303 24.762 9.70503 24.461Z" fill="#FE3200"/>
                    <path d="M15.0736 24.4611C15.3773 24.4033 15.6917 24.4537 15.9621 24.6035C16.2325 24.7533 16.4419 24.9931 16.554 25.2813C16.666 25.5694 16.6736 25.8877 16.5755 26.1808C16.4773 26.474 16.2796 26.7235 16.0166 26.8861C14.1986 28.0991 13.0446 24.7861 15.0736 24.4611Z" fill="#FE3200"/>
                    <path d="M20.4445 24.4591C22.4695 24.1591 22.4075 27.4961 20.3695 27.0831C20.0618 27.0208 19.786 26.8518 19.5907 26.606C19.3955 26.3602 19.2933 26.0533 19.3023 25.7395C19.3113 25.4257 19.4308 25.1251 19.6398 24.8909C19.8487 24.6566 20.1337 24.5037 20.4445 24.4591Z" fill="#FE3200"/>
                    </g>
                    </g>
                    <defs>
                    <clipPath id="clip0_767_756">
                    <rect width="43.701" height="43.137" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>
                    span.ml-2.text-dark  (+54 11) 7078-0416
                a(href="mailto:info@nimax.com.ar").d-flex.mt-3.align-items-center
                    <svg width="28" height="28" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_767_768)">
                    <mask id="mask0_767_768" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="33" height="33">
                    <path d="M33 0H0V33H33V0Z" fill="white"/>
                    </mask>
                    <g mask="url(#mask0_767_768)">
                    <path d="M8.25349 0.0192522L24.6573 0C25.2771 0.00655165 25.8815 0.194263 26.3962 0.540037C26.9108 0.885811 27.3131 1.37456 27.5537 1.94615C27.9093 2.86691 27.6901 3.75586 27.8047 4.70843L32.4061 10.2539C32.7497 10.7557 32.9565 11.3385 33.006 11.9448V27.9149C32.9284 29.1433 32.4341 30.3083 31.6049 31.2175C30.7756 32.1266 29.6611 32.7253 28.4455 32.9146C20.7569 33.082 13.0516 32.9364 5.35457 32.9908C4.10222 32.9717 2.89512 32.5193 1.93839 31.7106C0.981659 30.9018 0.334326 29.7866 0.106394 28.5544C-0.0207734 22.8281 -0.0492188 17.0449 0.11978 11.322C0.275313 10.8088 0.531261 10.3316 0.872746 9.91825C2.20466 8.13951 3.87123 6.49135 5.22322 4.7101C5.33784 3.70564 5.09521 2.80915 5.50851 1.85407C5.74639 1.32026 6.13039 0.864689 6.61613 0.540007C7.10187 0.215324 7.66952 0.034785 8.25349 0.0192522ZM8.05353 1.7168C7.73364 1.78808 7.44633 1.9633 7.23641 2.21511C7.0265 2.46692 6.9058 2.78116 6.89313 3.10882L6.90317 14.748L13.5694 19.8675C13.6171 19.911 13.6489 19.8825 13.6941 19.8675C13.9292 19.7838 14.6311 19.0304 14.949 18.8228C15.4045 18.5371 15.9292 18.3814 16.4667 18.3724C17.0041 18.3634 17.5338 18.5015 17.9985 18.7718C18.2713 18.9342 19.2627 19.9102 19.4141 19.8834L26.1005 14.7924L26.1348 3.23689C26.1423 2.90704 26.043 2.5836 25.8516 2.31489C25.6603 2.04619 25.3872 1.84665 25.0731 1.74609L8.05353 1.7168ZM5.25668 13.4824V7.33008L2.121 11.0843L5.25668 13.4824ZM27.762 13.4824L30.8977 11.0843L27.7662 7.33008L27.762 13.4824ZM1.7236 12.9593V28.1769C1.81066 28.564 1.93825 28.9408 2.10426 29.3011L2.40963 29.7146L12.322 21.0427L1.7236 12.9593ZM31.2993 28.1769V12.9593L20.7009 21.0427L30.7095 29.7154C30.9692 29.2291 31.1673 28.7123 31.2993 28.1769ZM29.3357 30.8923L29.206 30.6629L17.428 20.4509C17.3221 20.328 17.1926 20.2278 17.0472 20.1562C16.9018 20.0846 16.7434 20.0431 16.5815 20.0342C16.4197 20.0253 16.2577 20.0492 16.1053 20.1044C15.9528 20.1596 15.8131 20.245 15.6945 20.3555L3.68549 30.8597C4.16239 31.1066 4.68495 31.2528 5.22071 31.2891H27.8666C28.3725 31.2271 28.8671 31.0938 29.3357 30.8931" fill="#FE3200"/>
                    <path d="M19.3026 14.5523C19.4018 14.6489 19.4761 14.7683 19.519 14.9C19.562 15.0318 19.5723 15.172 19.5491 15.3086C19.5259 15.4452 19.4698 15.5741 19.3858 15.6843C19.3018 15.7944 19.1922 15.8825 19.0667 15.9409C17.4979 16.612 15.7285 16.6406 14.1389 16.0205C13.0066 15.5621 12.0275 14.7918 11.3154 13.799C10.6032 12.8062 10.1872 11.6316 10.1156 10.4117C10.044 9.1917 10.3198 7.97647 10.911 6.9071C11.5022 5.83773 12.3845 4.95811 13.4554 4.37041C14.5263 3.7827 15.7419 3.51103 16.9609 3.58694C18.18 3.66285 19.3525 4.08324 20.3423 4.79927C21.3321 5.5153 22.0986 6.49759 22.5527 7.63205C23.0068 8.76651 23.1298 10.0066 22.9076 11.2082C22.8337 11.7264 22.6068 12.2106 22.256 12.5989C21.9052 12.9872 21.4466 13.2619 20.9388 13.3878C20.4311 13.5137 19.8973 13.485 19.4059 13.3055C18.9145 13.126 18.4879 12.8038 18.1807 12.3801C17.7949 12.6551 17.3476 12.8312 16.878 12.893C16.4084 12.9548 15.9308 12.9005 15.4871 12.7346C15.0434 12.5688 14.6471 12.2966 14.333 11.9419C14.019 11.5872 13.7966 11.1608 13.6855 10.7001C13.5745 10.2394 13.578 9.75852 13.696 9.29955C13.8139 8.84057 14.0425 8.41755 14.3619 8.06755C14.6812 7.71756 15.0815 7.45129 15.5276 7.29208C15.9737 7.13287 16.4521 7.08559 16.9207 7.15439C17.2746 7.19959 17.8017 7.5185 17.9899 7.53022C18.1388 7.53943 18.2409 7.42559 18.3806 7.40299C18.4875 7.37515 18.5989 7.36932 18.7082 7.38585C18.8174 7.40238 18.9221 7.44093 19.016 7.49916C19.1098 7.5574 19.1909 7.6341 19.2543 7.72462C19.3176 7.81513 19.362 7.91759 19.3846 8.02576C19.5101 8.83686 19.1093 11.1229 19.7192 11.6192C19.8659 11.7236 20.0383 11.786 20.2179 11.7996C20.3974 11.8132 20.5772 11.7775 20.7379 11.6964C20.8987 11.6152 21.0342 11.4917 21.13 11.3392C21.2257 11.1866 21.278 11.0108 21.2812 10.8307C21.4251 9.85388 21.2665 8.85637 20.8268 7.97241C20.3871 7.08845 19.6873 6.36044 18.8216 5.88635C17.9559 5.41226 16.9658 5.21482 15.9846 5.3206C15.0034 5.42639 14.0781 5.83032 13.3332 6.47805C9.63533 9.73418 12.8363 15.8681 17.7523 14.6293C18.2627 14.5004 18.8132 14.0802 19.3001 14.5523M16.1669 8.85109C15.8558 8.97305 15.5954 9.19705 15.4282 9.48642C15.3055 9.73961 15.2739 10.0274 15.3385 10.3012C15.4031 10.575 15.56 10.8182 15.7828 10.9898C16.0057 11.1614 16.2808 11.251 16.5619 11.2434C16.843 11.2358 17.113 11.1315 17.3262 10.9481C17.5395 10.7647 17.683 10.5134 17.7328 10.2364C17.7825 9.95952 17.7353 9.67392 17.5992 9.42772C17.4631 9.18151 17.2464 8.98976 16.9855 8.88473C16.7246 8.77971 16.4355 8.76782 16.1669 8.85109Z" fill="#FE3200"/>
                    </g>
                    </g>
                    <defs>
                    <clipPath id="clip0_767_768">
                    <rect width="33" height="33" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>
                    span.ml-2.text-dark  info@nimax.com.ar




