extends ../layouts/_main

block variables
    - var activeMenu = 'home'

block content 
    .container.pt-5.px-0.px-md-auto.custom-container   
        #lottie-container
    //img(src="./img/bg.svg", alt="Background").bg-home.container.pt-4.d-md-block.d-none   
    #section-components.section.section-components.pb-0
        .container.bg-white.mt-md-n7.mt-n7.border.border-none-m.bg-white-none-m
            #swiperCards.swiper
                .swiper-wrapper
                    .swiper-slide
                        .card.shadow-none.border.bg-border-none-md
                            img.card-img-top(src="./img/slider/image0.png", alt="Card image cap").mx-auto
                            .card-body.text-center
                                h6.card-title.fw-bold EXCELENTES PRECIOS
                                p.card-text(style="font-size:14px !important") 
                                    | La mejor opción en repuestos Volkswagen, 
                                    | al precio que necesitás.
                    .swiper-slide
                        .card.shadow-none.border.bg-border-none-md
                            img.card-img-top(src="./img/slider/image1.png", alt="Card image cap").mx-auto
                            .card-body.text-center
                                h6.card-title.fw-bold ÓPTIMA CALIDAD
                                p.card-text(style="font-size:14px !important") 
                                    | Las piezas que todo Volkswagen merece, 
                                    | con calidad garantizada.
                    .swiper-slide
                        .card.shadow-none.border.bg-border-none-md
                            img.card-img-top(src="./img/slider/image2.png", alt="Card image cap").mx-auto
                            .card-body.text-center
                                h6.card-title.fw-bold SÓLIDO RESPALDO
                                p.card-text(style="font-size:14px !important") 
                                    | Contamos con el respaldo y experiencia 
                                    | de una empresa referente en el mercado 
                                    | de autopartes en el país para ofrecer 
                                    | total confianza y garantía.
                .swiper-pagination.mt-md-4

    section#repuestos.position-relative.d-md-block.d-none
        .col-md-4.mx-auto.py-md-4
            h3.text-center.text-gray-500 
                | Nimax es #[span.text-secondary tu mejor aliado ] a la hora de buscar soluciones y repuestos para tu Volkswagen de óptima calidad y a buen precio
            p.text-center.text-gray-500.mt-5
                | Tenemos a disposición de tu negocio la más
                | completa línea de repuestos para Volkswagen.
                | ¿Qué necesitás? Te ayudamos.

    section#testimonios.py-5
        .container
            .row
                a(href="./products.html").col-md-6
                    img.img-fluid(src="./img/theme/home/section4/image0.png", alt="1")
                    h3.position-absolute.text-white(style="top: 50%; left: 50%; transform: translate(-50%, -50%);").text-center
                        | KITS DE DISTRIBUCIÓN
                .col-md-6(style="display: grid")
                    a(href="./products.html").col-md-12.px-0.mt-md-0.mt-3
                        img(src="./img/theme/home/section4/image1.png", alt="2").img-fluid
                        h3.position-absolute.text-white(style="top: 50%; left: 50%; transform: translate(-50%, -50%);").text-center
                            | FILTROS
                    a(href="./products.html").col-md-12.align-items-end.d-flex.px-0.mt-md-0.mt-3
                        img(src="./img/theme/home/section4/image2.png", alt="3").img-fluid
                        h3.position-absolute.text-white(style="top: 50%; left: 50%; transform: translate(-50%, -50%);").text-center
                            | MOTOR
                .col-md-12.mt-4            
                    a(href="./products.html").btn.btn-primary.rounded-0.w-100.no-hover
                        .align-items-center.d-inline-flex
                            <svg width="9" height="13" viewBox="0 0 9 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_770_1537)">
                                <path d="M0.1 -0.000976562L0.089 0.0100234L5.161 6.08902L0 12.258H3.826L8.986 6.09102L3.9 -0.000976562H0.1Z" fill="white"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_770_1537">
                                <rect width="8.986" height="12.259" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                            span.ms-3 CONOCÉ TODOS LOS PRODUCTOS
        

    include ../components/_ig_slider.pug