extends ../layouts/_main
block content 
    .container.pt-5.px-0.px-md-auto.text-center
        .text-center.mb-5.pt-md-5.pb-2
            h5.display-5.font-weight-bold #TodoParaTuVW
            h3.mb-4 ¿QUÉ NECESITÁS?
        .row 
            .col-md-4.col-10.mx-auto.mb-5.mb-md-4
                .text-center.display-5.font-weight-bold.mb-3
                    | SUSPENSIÓN
                .card.shadow.rounded-3.p-3
                    .slider-product.swiper
                        .swiper-wrapper
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/suspension/suspension-1.jpg", alt="Card image cap").col-12
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/suspension/suspension-2.jpg", alt="Card image cap").col-12
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/suspension/suspension-3.jpg", alt="Card image cap").col-12
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/suspension/suspension-4.jpg", alt="Card image cap").col-12
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/suspension/suspension-5.jpg", alt="Card image cap").col-12
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/suspension/suspension-6.jpg", alt="Card image cap").col-12
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/suspension/suspension-7.jpg", alt="Card image cap").col-12
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/suspension/suspension-8.jpg", alt="Card image cap").col-12
                        .swiper-pagination
            .col-md-4.col-10.mx-auto.mb-5.mb-md-4
                .text-center.display-5.font-weight-bold.mb-3
                    | TRANSMISIÓN
                .card.shadow.rounded-3.p-3
                    .slider-product.swiper
                        .swiper-wrapper
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/transmicion/transmicion-1.jpg", alt="Card image cap").col-12
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/transmicion/transmicion-2.jpg", alt="Card image cap").col-12
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/transmicion/transmicion-3.jpg", alt="Card image cap").col-12
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/transmicion/transmicion-4.jpg", alt="Card image cap").col-12
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/transmicion/transmicion-5.jpg", alt="Card image cap").col-12
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/transmicion/transmicion-6.jpg", alt="Card image cap").col-12
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/transmicion/transmicion-7.jpg", alt="Card image cap").col-12
                        .swiper-pagination
            .col-md-4.col-10.mx-auto.mb-5.mb-md-4 
                .text-center.display-5.font-weight-bold.mb-3
                    | REFRIGERACIÓN
                .card.shadow.rounded-3.p-3
                    .slider-product.swiper
                        .swiper-wrapper
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/refrigeracion/refrigeracion-1.jpg", alt="Card image cap").col-12
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/refrigeracion/refrigeracion-2.jpg", alt="Card image cap").col-12
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/refrigeracion/refrigeracion-3.jpg", alt="Card image cap").col-12
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/refrigeracion/refrigeracion-4.jpg", alt="Card image cap").col-12
                            //.swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/refrigeracion/refrigeracion-5.jpg", alt="Card image cap").col-12
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/refrigeracion/refrigeracion-6.jpg", alt="Card image cap").col-12
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/refrigeracion/refrigeracion-7.jpg", alt="Card image cap").col-12
                        .swiper-pagination
            .col-md-4.col-10.mx-auto.mb-5.mb-md-4.mt-md-5
                .text-center.display-5.font-weight-bold.mb-3
                    | CERRAJERÍA
                .card.shadow.rounded-3.p-3
                    .slider-product.swiper
                        .swiper-wrapper
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/cerrajeria/cerrajeria-1.jpg", alt="Card image cap").col-12
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/cerrajeria/cerrajeria-2.jpg", alt="Card image cap").col-12
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/cerrajeria/cerrajeria-3.jpg", alt="Card image cap").col-12
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/cerrajeria/cerrajeria-4.jpg", alt="Card image cap").col-12
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/cerrajeria/cerrajeria-5.jpg", alt="Card image cap").col-12
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/cerrajeria/cerrajeria-6.jpg", alt="Card image cap").col-12
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/cerrajeria/cerrajeria-7.jpg", alt="Card image cap").col-12
                        .swiper-pagination
            .col-md-4.col-10.mx-auto.mb-5.mb-md-4.mt-md-5
                .text-center.display-5.font-weight-bold.mb-3
                    | MOTOR
                .card.shadow.rounded-3.p-3
                    .slider-product.swiper
                        .swiper-wrapper
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/motor/motor-1.jpg", alt="Card image cap").col-12
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/motor/motor-2.jpg", alt="Card image cap").col-12
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/motor/motor-3.jpg", alt="Card image cap").col-12
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/motor/motor-4.jpg", alt="Card image cap").col-12
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/motor/motor-5.jpg", alt="Card image cap").col-12
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/motor/motor-6.jpg", alt="Card image cap").col-12
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/motor/motor-7.jpg", alt="Card image cap").col-12
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/motor/motor-8.jpg", alt="Card image cap").col-12
                        .swiper-pagination
            .col-md-4.col-10.mx-auto.mb-5.mb-md-4.mt-md-5
                .text-center.display-5.font-weight-bold.mb-3
                    | ENCENDIDO Y ELECTRICIDAD
                .card.shadow.rounded-3.p-3
                    .slider-product.swiper
                        .swiper-wrapper
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/encendido-electricidad/encendido-electricidad-1.jpg", alt="Card image cap").col-12
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/encendido-electricidad/encendido-electricidad-2.jpg", alt="Card image cap").col-12
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/encendido-electricidad/encendido-electricidad-3.jpg", alt="Card image cap").col-12
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/encendido-electricidad/encendido-electricidad-4.jpg", alt="Card image cap").col-12
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/encendido-electricidad/encendido-electricidad-5.jpg", alt="Card image cap").col-12
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/encendido-electricidad/encendido-electricidad-6.jpg", alt="Card image cap").col-12
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/encendido-electricidad/encendido-electricidad-7.jpg", alt="Card image cap").col-12
                        .swiper-pagination
            .col-md-4.col-10.mx-auto.mb-5.mb-md-4.mt-md-5.d-flex.align-items-center.justify-content-center.position-relative.pb-5
                img(src="./img/theme/products/section1/bg-start.png", alt="Taxim").img-product-start.position-absolute
                .w-100
                    .text-center.display-5.font-weight-bold.mb-3
                        | FILTROS
                    .card.shadow.rounded-3.p-3
                        .slider-product.swiper
                            .swiper-wrapper
                                .swiper-slide
                                    img.card-img-top(src="./img/theme/products/product-section/filtro/filtro-1.jpg", alt="Card image cap").col-12
                                .swiper-slide
                                    img.card-img-top(src="./img/theme/products/product-section/filtro/filtro-2.jpg", alt="Card image cap").col-12
                                .swiper-slide
                                    img.card-img-top(src="./img/theme/products/product-section/filtro/filtro-3.jpg", alt="Card image cap").col-12
                            .swiper-pagination
            .col-md-8.col-10.mx-auto.mb-5.mb-md-4.mt-md-5.d-flex.align-items-center.justify-content-center.position-relative.mt-5
                img(src="./img/theme/products/section1/bg-end.png", alt="Taxim").col-md-10.img-product-end
                h3.display-4.font-weight-light.text-center.mb-3.position-absolute
                    | CONOCÉ TODOS LOS PRODUCTOS #[br.d-none.d-md-block]
                    | Y KITS QUE NIMAX TIENE PARA #[br.d-none.d-md-block]
                    | #[b.font-weight-bold TU VOLKSWAGEN]
            .col-md-4.col-10.mx-auto.mb-5.mb-md-4.mt-md-5.py-md-5.pt-5
                .text-center.display-5.font-weight-bold.mb-3
                    | KIT DE REPARACION
                .card.shadow.rounded-3.p-3
                    .slider-product.swiper
                        .swiper-wrapper
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/kit-reparacion/kit-reparacion-1.jpg", alt="Card image cap").col-12
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/kit-reparacion/kit-reparacion-2.jpg", alt="Card image cap").col-12
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/kit-reparacion/kit-reparacion-3.jpg", alt="Card image cap").col-12
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/kit-reparacion/kit-reparacion-4.jpg", alt="Card image cap").col-12
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/kit-reparacion/kit-reparacion-5.jpg", alt="Card image cap").col-12
                        .swiper-pagination
            .col-md-4.col-10.mx-auto.mb-5.mb-md-4.mt-md-5.py-md-5
                .text-center.display-5.font-weight-bold.mb-3
                    | KIT DE EMBRAGUE
                .card.shadow.rounded-3.p-3
                    .slider-product.swiper
                        .swiper-wrapper
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/kit-embrague/kit-embrague-1.jpg", alt="Card image cap").col-12
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/kit-embrague/kit-embrague-2.jpg", alt="Card image cap").col-12
                        .swiper-pagination
            .col-md-4.col-10.mx-auto.mb-5.mb-md-4.mt-md-5.py-md-5
                .text-center.display-5.font-weight-bold.mb-3
                    | KIT DE DISTRIBUCION
                .card.shadow.rounded-3.p-3
                    .slider-product.swiper
                        .swiper-wrapper
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/kit-distribucion/kit-distribucion-1.jpg", alt="Card image cap").col-12
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/kit-distribucion/kit-distribucion-2.jpg", alt="Card image cap").col-12
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/kit-distribucion/kit-distribucion-3.jpg", alt="Card image cap").col-12
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/kit-distribucion/kit-distribucion-4.jpg", alt="Card image cap").col-12
                            .swiper-slide
                                img.card-img-top(src="./img/theme/products/product-section/kit-distribucion/kit-distribucion-5.jpg", alt="Card image cap").col-12
                        .swiper-pagination
    img(src="./img/theme/products/section1/bg.png", alt="Background").bg-home.container.pt-4.d-md-block.d-none.tscale1-5
    .d-md-none.d-block.pt-5
        img(src="./img/theme/products/section1/bgM.png", alt="Background").bg-home.container.pt-4.mt-5